.kudos-types {
  padding: 20px;
  background-color: #987;
  margin-bottom: 30px;
}

.tools .kudos {
  transform: scale(0.333) translate(-100%,-100%);
}

.kudos-option {
  position: relative;
  height: 100px;
  width: 100px;
}

.area-ready-kudos {
  width: 100px;
  height: 100px;
  border: 1px dashed blue;
  display: inline-block;
}

.trash {
  width: 100px;
  height: 100px;
  border: 1px dashed red;
  display: inline-block;
}

.area-ready-kudos {
  padding: 1px;
  position: relative;
}