.kudos-types {
  padding: 20px;
  background-color: #987;
  margin-bottom: 30px;
}

.kudos-option {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.kudos-thanks {
  background-color: #435;
}

.kudos-happy {
  background-color: #678;
}

.kudos-goodwork {
  background-color: #345;
}

.area-ready-kudos {
  width: 102px;
  height: 102px;
  border: 1px dashed blue;
}

.area-ready-kudos .kudos-option {
  margin: 1px;
  position: relative;
}

.area-ready-kudos .kudos-option .content {
  position: absolute;
}