html {
  position: relative;
}

.clearfix:after {
  display: block;
  content: '';
  clear: both;
}

.container-app {
      background-color: rgb(248, 248, 248);
}

.table-field {
  width: 70%;
  float: left;
}

.tools-field {
  width: 30%;
  float: left;
  height: 500px;
}

[hidden] {
  display: none!important;
}

.kudos {
  width: 100px;
  height: 100px;
  background-color: #fafafa;
  display: inline-block;
  float: left;
  position: absolute;
  float: left;
  width: 300px;
  height: 300px;
}

.kudos-thanks {
  background-color: #435;
}

.kudos-happy {
  background-color: #678;
}

.kudos-goodwork {
  background-color: #345;
}

.kudos .content {
  position: absolute;
}