.table {
  background-color: #a0522d;
  height: 500px;
  margin: 50px;
  transform: scale(1);
}

.table .title {
  text-align: center;
}

.type {
  float: left;
}

.remove {
  float: right;
  cursor: pointer;
  padding: 10px;
}

